/* Estilo propio del body para esta pagina */

body {
    color: var(--color-blanco);
    background-color: var(--color-blanco);
}


/* Estilo propio del header para esta pagina */

header {
    background-color: var(--color-admin-oscuro);
}

nav a:hover {
    background-color: var(--color-admin);
}

/* Estilo del contenido principal */
.contenido-principal {
    width: 80%;
    margin: 2rem auto;
    padding: 1rem;
    background-color: var(--color-admin-oscuro);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.seccion-reservas h1 {
    font-size: 2rem;
    color: #ffffff;
    text-align: center;
    margin-bottom: 1rem;
}

.tabla-reservas {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--color-blanco);
}

.tabla-reservas th, .tabla-reservas td {
    padding: 0.5rem;
    border: 1px solid var(--color-azul-medio);
    text-align: center;
    color: var(--color-negro);
}

.tabla-reservas td select{
    width: 100%;
    text-align: center;
    padding: 0.5rem;
    border: 1px solid var(--color-azul-medio);
    border-radius: 4px;
    background-color: var(--color-azul-medio);
    color: var(--color-negro);
    font-size: 1rem;
    appearance: none;
    font-weight: bold;
    color: var(--color-blanco);
}

.tabla-reservas th {
    background-color: var(--color-azul-medio);
    color: var(--color-blanco);
    font-weight: bold;
}

.acciones {
    text-align: right;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.btn-filtrar, .btn-ordenar, .btn-notificar, .btn-gestionar, .btn-doc, .btn-pedido, .btn-anadir {
    font-weight: bold;
    padding: 0.5rem 1rem;
    color: var(--color-blanco);
    background-color: var(--color-admin);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 0.5rem;
}

.btn-notificar, .btn-gestionar,.btn-doc {
    background-color: var(--color-azul-medio);
}

.btn-filtrar:hover, .btn-ordenar:hover, .btn-notificar:hover, .btn-gestionar:hover, .btn-pedido:hover, .btn-anadir:hover {
    background-color: var(--color-blanco);
    color: black;
}

/* Estilos propios del footer para esta pagina */

footer{
    background-color:var(--color-admin-oscuro);
}

.colaboradores h2, .contacto h2{
    color: var(--color-blanco);
}

.colaboradores p a{
    color: var(--color-blanco);
}

.cita p {
    font-style: italic;
    font-size: 1.2rem;
}

/* Media query para Tablets */
@media (max-width: 1266px) and (min-width: 768px) {

    /* Ajuste de la tabla en tablet */
    .tabla-reservas {
        width: 100%;
        overflow-x: auto;
        display: block;
    }

    .tabla-reservas table {
        width: 100%;
        border-collapse: collapse;
    }

    .tabla-reservas th, .tabla-reservas td {
        padding: 0.5rem;
        text-align: center;
        border-bottom: 1px solid var(--color-azul-claro);
        white-space: nowrap;
    }


    .contenido-principal {
        width: 90%;
        margin: 2rem auto;
        padding: 1rem;
        display: block;
    }
}

/* Media query para Móviles */
@media (max-width: 767px) {

    /* Ajuste de la tabla en móvil */

    .acciones {
        text-align: center;
    }

    .acciones button,
    .acciones .btn-filtrar, 
    .acciones .btn-ordenar, 
    .acciones .btn-notificar, 
    .acciones .btn-gestionar, 
    .acciones .btn-doc, 
    .acciones .btn-pedido, 
    .acciones .btn-anadir {
        display: block; 
        width: 100%; 
        margin: 0.5rem 0; 
        padding: 0.8rem; 
        font-size: 1rem; 
    }

    .tabla-reservas {
        width: 100%;
        overflow-x: auto;
        display: block;
    }

    .tabla-reservas table {
        width: 100%;
        border-collapse: collapse;
    }

    .tabla-reservas th, .tabla-reservas td {
        padding: 0.5rem;
        text-align: center;
        border-bottom: 1px solid var(--color-azul-claro);
        white-space: nowrap;
    }

    .contenido-principal {
        width: 90%;
        margin: 2rem auto;
        padding: 1rem;
        display: block;
    }
}