:root {
    --color-azul-oscuro: #404258;
    --color-azul-medio: #474E68;
    --color-azul-claro: #6B728E;
    --color-acento-azul: #3C7EFC;
    --color-blanco: #FFF;
    --color-negro: #000;
}

/* Estilo global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

/* Estilo del cuerpo */
body {
    font-family: 'Arial', sans-serif;
    color: var(--color-blanco);
    background-color: var(--color-azul-medio);
    line-height: 1.6;
}

/* Estilo del header */
header {
    background-color: var(--color-azul-oscuro);
    padding: 1rem 2%;
    text-align: center;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Estilo del logo */
.logo {
    position: absolute;
    top: 50%;
    left: 2%;
    transform: translateY(-50%);
}

.logo img {
    width: 2.5rem;
    height: auto;
}

/* Estilo de la navegación */
nav {
    display: inline-block;
}

nav a {
    color: var(--color-blanco);
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    margin: 0 0.5rem;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: var(--color-acento-azul);
    border-radius: 0.3rem;
}

/* Estilo del icono de usuario */
.icono-usuario {
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
}

.icono-usuario img {
    width: 2rem;
    height: auto;
    transition: transform 0.3s ease;
}

.icono-usuario img:hover {
    transform: scale(1.1);
}

/* Estilo del contenido principal */
.contenido-principal {
    width: 80%;
    margin: 2rem auto;
    padding: 1rem;
    background-color: var(--color-azul-claro);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.seccion-reservas h2 {
    font-size: 1.5rem;
    color: var(--color-acento-azul);
    text-align: center;
    margin-bottom: 1rem;
}

.tabla-reservas {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--color-blanco);
}

.tabla-reservas th, .tabla-reservas td {
    padding: 0.5rem;
    border: 1px solid var(--color-azul-medio);
    text-align: center;
    color: var(--color-negro);
}

.tabla-reservas th {
    background-color: var(--color-azul-medio);
    color: var(--color-blanco);
    font-weight: bold;
}

.acciones {
    text-align: right;
    margin-top: 1rem;
}

.btn-filtrar, .btn-ordenar, .btn-notificar, .btn-gestionar, .btn-doc {
    padding: 0.5rem 1rem;
    color: var(--color-blanco);
    background-color: var(--color-acento-azul);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 0.5rem;
}

.btn-notificar, .btn-gestionar,.btn-doc {
    background-color: var(--color-azul-medio);
}

.btn-filtrar:hover, .btn-ordenar:hover, .btn-notificar:hover, .btn-gestionar:hover {
    background-color: var(--color-azul-oscuro);
}

/* Estilo del footer */
footer {
    background-color: var(--color-azul-oscuro);
    padding: 3rem 1rem;
    text-align: center;
    position: relative;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

footer h3 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--color-blanco);
}

footer a {
    display: block;
    color: var(--color-azul-claro);
    text-decoration: none;
    margin: 0.3rem 0;
    font-size: 1rem;
}

footer a:hover {
    color: var(--color-acento-azul);
}

.colaboradores, .cita, .contacto {
    display: inline-block;
    width: 30%;
    text-align: left;
    padding: 0 1rem;
    vertical-align: top;
}

.colaboradores {
    text-align: left;
    margin-right: 2%;
}

.cita {
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
}

.contacto {
    text-align: center;
    margin-left: 2%;
}

.cita p {
    font-style: italic;
    font-size: 1.2rem;
    color: var(--color-azul-claro);
}

.contacto p {
    margin: 0.3rem 0;
    font-size: 1rem;
}

/* Media query para Tablets */
@media (max-width: 1024px) and (min-width: 768px) {
    header {
        padding: 1rem 4%;
    }

    /* Ajuste de la tabla en tablet */
    .tabla-reservas {
        width: 100%;
        overflow-x: auto;
        display: block;
    }

    .tabla-reservas table {
        width: 100%;
        border-collapse: collapse;
    }

    .tabla-reservas th, .tabla-reservas td {
        padding: 0.5rem;
        text-align: left;
        border-bottom: 1px solid var(--color-azul-claro);
        white-space: nowrap; /* Evitar que el contenido se desborde */
    }

    .contenido-principal {
        width: 90%;
        margin: 2rem auto;
        padding: 1rem;
        display: block;
    }

    footer {
        padding: 2rem 1rem;
    }

    .colaboradores, .cita, .contacto {
        width: 100%;
        text-align: center;
        padding: 0;
        margin-bottom: 1.5rem;
    }
}

/* Media query para Móviles */
@media (max-width: 767px) {
    header {
        padding: 0.5rem 3%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    /* Ajuste del logo y el icono de usuario en móvil */
    .logo {
        position: static;
        transform: none;
    }

    .logo img {
        width: 2rem;
    }

    .icono-usuario {
        position: static;
        transform: none;
    }

    .icono-usuario img {
        width: 1.5rem;
    }

    /* Ajuste de la navegación en móvil */
    nav {
        display: block;
        margin-top: 1rem;
        text-align: center;
    }

    nav a {
        display: block;
        padding: 0.8rem;
        font-size: 1rem;
        text-align: center;
        margin: 0.3rem 0;
        background-color: var(--color-azul-oscuro);
        color: var(--color-blanco);
        border-radius: 0.3rem;
        transition: background-color 0.3s ease;
    }

    nav a:hover {
        background-color: var(--color-acento-azul);
    }

    /* Ajuste de la tabla en móvil */
    .tabla-reservas {
        width: 100%;
        overflow-x: auto;
        display: block;
    }

    .tabla-reservas table {
        width: 100%;
        border-collapse: collapse;
    }

    .tabla-reservas th, .tabla-reservas td {
        padding: 0.5rem;
        text-align: left;
        border-bottom: 1px solid var(--color-azul-claro);
        white-space: nowrap;
    }

    .contenido-principal {
        width: 90%;
        margin: 2rem auto;
        padding: 1rem;
        display: block;
    }

    footer {
        padding: 1.5rem 1rem;
    }

    .colaboradores, .cita, .contacto {
        width: 100%;
        text-align: center;
        padding: 0;
        margin-bottom: 1.2rem;
    }

    .contacto p, .cita p {
        font-size: 0.9rem;
    }
}
