/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
main {
    text-align: center;
    padding: 20px;
}

h1 {
    color: black;
}

/* Estilos de la tabla de reservas */
.tabla-reservas {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--color-blanco);
}

.tabla-reservas th, .tabla-reservas td {
    padding: 0.5rem;
    border: 1px solid var(--color-azul-medio);
    text-align: center;
    color: var(--color-negro);
}

.tabla-reservas td select {
    width: 100%;
    text-align: center;
    padding: 0.5rem;
    border: 1px solid var(--color-admin-oscuro);
    border-radius: 4px;
    background-color: var(--color-admin);
    font-size: 1rem;
    font-weight: bold;
    color: var(--color-blanco);
    appearance: none;
}

.tabla-reservas th {
    background-color: var(--color-admin-oscuro);
    color: var(--color-blanco);
    font-weight: bold;
}

/* Botones de acciones */
.acciones {
    text-align: right;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.btn-filtrar, .btn-ordenar, .btn-notificar, .btn-gestionar, .btn-doc, .btn-pedido, .btn-anadir, button {
    font-weight: bold;
    padding: 0.5rem 1rem;
    color: var(--color-blanco);
    background-color: var(--color-admin);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 0.5rem;
}

.btn-notificar, .btn-gestionar, .btn-doc {
    background-color: var(--color-admin);
}

.btn-filtrar:hover, .btn-ordenar:hover, .btn-notificar:hover, .btn-gestionar:hover, .btn-pedido:hover, .btn-anadir:hover, button:hover {
    background-color: var(--color-blanco);
    color: black;
}

button {
    margin-top: 10px;
}

/* Estilos para la ventana emergente (modal) */
.modal {
    display: flex; /* Mostrar el modal al cargar la página */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.modal.show {
    display: flex;
}

.modal-content {
    background-color: var(--color-admin-oscuro);
    padding: 20px;
    width: 350px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Título del modal */
.modal-content h2 {
    margin-bottom: 15px;
    font-size: 1.5rem;
    color: var(--color-blanco);
}

/* Etiquetas */
.modal-content label {
    display: block;
    margin-top: 10px;
    text-align: left;
    font-weight: bold;
    color: var(--color-blanco);
}

/* Inputs y selects */
.modal-content input,
.modal-content select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid var(--color-azul-medio);
    border-radius: 4px;
    font-size: 1rem;
}

/* Grupo de checkboxes */
.checkbox-group {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 20px;
}

.modal-checkbox {
    margin-right: 5px;
}

/* Input de archivo */
.file-input-group {
    margin-top: 10px;
    margin-bottom: 20px;
}

.modal-file-input {
    width: 100%;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 4px;
    background-color: #eaeaea;
    font-size: 0.9rem;
}

/* Botones del modal */
.modal-buttons {
    display: flex;
    justify-content: space-around;
}

.modal-buttons > button {
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.modal-cancel {
    background-color: #ccc;
    color: black;
}

.modal-reserve {
    background-color: #555;
    color: white;
}

.modal-buttons > button:hover {
    opacity: 0.8;
}
