
h1{
    text-align: center;
}
main>div{
    position: relative;
    top:30px;
    left: 34%;
    width: 30%;
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
form{
    height: fit-content;
}

input[type="text"], select {
    width: 100%;
    border: 1px solid var(--color-azul-oscuro);
    border-radius: 4px;
    height: 20px;
}

input[type="text"]:hover, select:hover {
    color: white;
    background-color: var(--color-azul-claro);
    cursor: pointer;
    transition: 0.5s;
}

label {
    color: black;
    font-weight: bold;
    margin-bottom: 5px;
}

#botones-navegacion{
    position: relative;
    right: 15%;
    padding-left: 32%;
}

#botones-navegacion .botones {
    width: 45%; 
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #a5a4a4;
    color: white;
    cursor: pointer;
}

#botones-navegacion .botones:hover {
    background-color: #696868;
    box-shadow: 0px 0px 10px #69686875;
    transition: 0.5s;
}

footer {
    position: absolute;
    bottom: 0;
}