@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
:root { /* Paleta de colores */
    --color-azul-oscuro: #404258;
    --color-azul-medio: #474E68;
    --color-azul-claro: #6B728E;
    --color-acento-azul: #3C7EFC;
    --color-blanco: #FFF;
    --color-negro: #000;
}
html{
    font-family: Nunito;
}
header {
    background-color: var(--color-azul-oscuro);
    padding: 1rem 2%;
    text-align: center;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Estilo del logo */
.logo {
    position: absolute;
    top: 50%;
    left: 2%;
    transform: translateY(-50%);
}

.logo img {
    width: 2.5rem;
    height: auto;
}

/* Estilo de la navegación */
nav {
    display: inline-block;
}

nav a {
    color: var(--color-blanco);
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    margin: 0 0.5rem;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: var(--color-acento-azul);
    border-radius: 0.3rem;
}

/* Estilo del icono de usuario */
.icono-usuario {
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
}

.icono-usuario img {
    width: 2rem;
    height: auto;
    transition: transform 0.3s ease;
}

.icono-usuario img:hover {
    transform: scale(1.1);
}
main>div{
    position: absolute;
    width: 31%;
    left: 33%;
    top: 15%;
    background-color: #e0e0e0;
    padding: 30px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

main>div> h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #555;
}

.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    gap: 10px;
}

.form-row label {
    width: 30%;
    text-align: right;
}

.form-row input[type="text"],
.form-row input[type="email"],
.form-row button {
    width: 60%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.libros label {
    display: inline-block;
    margin-right: 10px;
}

.botones {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.cancelar {
    background-color: #ccc;
    border: none;
    padding: 10px 20px;
    color: #333;
    border-radius: 4px;
    cursor: pointer;
}

.confirmar {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f2f2f2;
    padding: 20px 0;
}

footer > .colaboradores,
footer > .cita,
footer > .contacto {
    text-align: center;
}

footer > .contacto {
    margin-left: 3%;
}

footer > .colaboradores,
footer > .cita,
footer > .contacto {
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    width: 30%; /* Ajustar si necesitas más o menos espacio para cada sección */
}

footer > .contacto > p {
    margin: 5px 0;
}